
body {
margin: 0%;
font-family: 'Nunito', sans-serif;
font-family: 'Varela Round', sans-serif;
}


.nav__menu {
    display: flex;
    justify-content: flex-end;
    background-color: #a0bed0;
    padding: 3%;
    align-items: center;
    margin: 0%;
    list-style: none;

}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 50px;
    color: #fff;
}

/*banner*/

.banner__container {
    text-align: center;
    padding-top: 13%;
    background: url("../imagens/foto-banner.jpg");
    height:40vh;
    background-size: cover;
    color: rgba(255, 255, 255, .9);
    background-position: center;
}

.banner__titulo {
    font-size: 500%;
    padding-top: 0%;
    text-transform: uppercase;
    margin: auto;
}

.banner__botao {
    padding: 15px 32px;
    text-transform: uppercase;
    background-color: #829dad;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 15px;
}


/*about*/

.banner__sobre {
    background-color: rgba(22, 22, 22, .8);
    padding: 2%;
    text-align: center;
    color: #fff;
}

.sobre__titulo {
    margin-bottom: 20px;
    
}

.container {
    width: 70%;
    margin: 0 auto;
}

/*siberia*/

.destino__siberia {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.destino__siberia div {
    padding-left: 40px;
    margin-top: 11%;
}
.destino__siberia__img {
    max-width: 535px;
    width: 100%;
    height: auto;
    display: block;
}

.destino__texto { 
    height: 30%;
    justify-content: center;
}

.destino__text p {
    width: 300px;
}

.destination__border {
    width: 30px;
    height: 165px;
    background-color: #829dad;
    display: block;
    margin-top: 85px;
}

.destination--groenlandia,
.destination--antartida {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.destination--groenlandia {
    margin-top: 10%;
}
.destination--groenlandia__img,
.destination--antartida__img {
  max-height: 300px;
  width: 100%;
  height: auto;
  display: block;
}

.destination__description {
    background: #161616;
    height: inherit;
    width: 41%;
    color: white;
}

.destination_paragraph {
    color: rgba(255,255,255,.5);
}

.destination__description--groenlandia {
    padding-left: 40px;
}

.destination__description--antartida{
    padding-left: 40px;
}

.destination--antartida.destination--groenlandia p {
    max-width: 70%;
}

.container__grade {
    margin: 0 auto;
}

.destino__gelado {
    width: 100%;
    background-color: rgba(22, 22, 22, .8);
    color: #fff;
    display: flex;
}

.groenlandia , .antartica {
    width: 80%;

}

.groenlandia__texto, .groenlandia__imagem, .antartica__texto, .antartica__imagem {
    width: 50%;
}


.antartica__imagem, .groenlandia__imagem {
    max-height: 300px;
    width: 100%;
    height: auto;
    display: block;
}

.footer {
    background-color: #161616;
    margin-top: 80px;
    text-align: center;
    padding: 40px;
    color: rgba(255,255,255,.5);
}

.footer a {
    text-decoration: none;
    color: #829dad;
}

.footer__socialmedia {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    list-style: none;
    padding: 0;
}

li a {
    margin: 0 10px;
}



@media(max-width: 960px) {
    .container {
        width: 100%;
        padding: 0 4%;
    }
}

@media (max-width: 420px) {
    .banner {
    height: 400px;
    background-position: -360px 0;

    }
}

@media (max-width: 1024px) {
    .banner__titulo {
    Font-size: 60px;
    }
}

@media (max-width: 850px) {
    .destino__siberia {
    display: block;
    text-align: center;

    }    
}

@media (max-width: 850px) {
    .destino__siberia__img {
        max-width: 100%;
        height: auto;
    }
}